:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: var(--vanilla);
  background-color: var(--rich-black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --rich-black: #001219ff;
  --midnight-green: #005f73ff;
  --dark-cyan: #0a9396ff;
  --tiffany-blue: #94d2bdff;
  --vanilla: #e9d8a6ff;
  --gamboge: #ee9b00ff;
  --alloy-orange: #ca6702ff;
  --rust: #bb3e03ff;
  --rufous: #ae2012ff;
  --auburn: #9b2226ff;
}

a {
  font-weight: 500;
  color: var(--alloy-orange);
  text-decoration: inherit;
}
a:hover {
  color: var(--gamboge);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

#app {
  width: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--rust);
    background-color: var(--vanilla);
  }

  a {
    color: var(--dark-cyan);
  }
  
  a:hover {
    color: var(--midnight-green);
  }
}
